.carousel-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
  &.active {
    opacity: 1;
  }

  &:not(.active) {
    opacity: 0.5;
  }
}
.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  justify-content: space-between;

  button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}
