.carousel {
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .carousel-buttons {
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }

  .carousel-indicator {
    // .ratio1 gets applied in markup
    width: 8px;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
  }
  .carousel-indicator-active {
    opacity: 1;
  }

  &:hover {
    .carousel-buttons {
      opacity: 1;
    }
  }
}

.ratio1 {
  aspect-ratio: 1;
}
